{% extends "ToolShare/base/base_sidebar.html" %}

{% block title %}ToolShare | Shed Creation{% endblock %}

{% block content %}
<h1>Community Shed Creation</h1>
<form action="" method="post">
    {% if success %}<p class="alert alert-success">{{success}}</p>{% endif %}
    {% if error %}<p class="alert alert-danger">{{error}}</p>{% endif %}
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{name}}">
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" name="address" value="{{address}}">
    </div>
    <div class="form-group">
    
        <p class="help-block">Would you like people to be able to find your shed?</p>
        
        <input type="Radio" id="ps0" name="privateSettings" value="0" checked>
        <label for="ps0">Public Shed</label>
        <br>

        <input type="Radio" id="ps1" name="privateSettings" value="1">
        <label for="ps1">Private Shed</label>
        <br>

        <input type="Radio" id="ps2" name="privateSettings" value="2">
        <label for="ps2">Private Shed Not Discoverable</label>

    </div>
    <input type="submit" class="btn btn-defau;t" value="Create Shed">
</form>
{% endblock content %}	